[alias]
  br = branch
  ci = commit
  co = checkout
  d = difftool	
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  rb = rebase
	st = status
  stat = log --stat --no-merges --max-count=1
[diff]
  tool = vimdiff
[difftool]
  prompt = false

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
  prompt = false


[push]
  default = current
[pull]
	default = current
[core]
	editor = vim
[fetch]
	prune = true
