[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
  d = difftool
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  stat = log --stat --no-merges --max-count=1
[merge]
	tool = gvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = gvimdiff
