[alias]
  br = branch
  ci = commit
  co = checkout
  d = difftool	
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  rb = rebase
	st = status
  stat = log --stat --no-merges --max-count=1
  quick-stats = ! /usr/local/bin/git-quick-stats
[diff]
  tool = gvimdiff
[difftool]
  prompt = false

[merge]
	tool = gvimdiff
	conflictstyle = diff3
[mergetool]
  prompt = false


[push]
  default = current
[pull]
	default = current
